@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.cards {
  width: 300px;
  padding: 20px;
  margin-top: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  /* Añadido para centrar el contenido */
}

.form-container h1 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.form-container label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #666;
}

.form-container-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.form-container button.result-button {
  background-color: #28a745;
}

.form-container button:hover {
  background-color: #0056b3;
}

.form-container button:focus {
  outline: none;
}

.cards {
  width: 300px;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.cards label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.cards input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.cards button[type="submit"] {
  padding: 12px 24px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.cards button[type="submit"]:hover {
  background-color: #218838;
}


.cards p {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 14px;
}


